.create {
    width: 100%;
    .form {
        width: 100%;
        padding: 20px;
        border-bottom: 4px dashed green;
    }
    .form-control {
        height: 30px !important;
    }
    .heading {
      text-align: center;
      margin-bottom: 11px;
      font-size: 1.5rem;
      font-weight: 600;
    }
    .error-section {
      background-color: #90c1d0;
      padding: 10px;
    }
    .errors {
      margin: 0px;
      padding: 0px;
      .error {
        margin: 0px;
        padding: 0px;
        list-style: none;
        font-size: 0.9rem;
        color: red;
        margin-bottom: 5px;
      }
    }
    .remove {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .remove-field {
            margin-top: 15px;
        }
    }
    .submit {
      margin-top: 10px;
    }
    .add {
        margin-top: 20px;
    }
}

.generate {
    width: 100%;
    .form {
        width: 100%;
        padding: 20px;
        border-bottom: 4px dashed green;
    }
    .form-control {
        height: 30px !important;
    }
    .heading {
      text-align: center;
      margin-top: 15px;
      font-size: 1.5rem;
      font-weight: 600;
    }
    .error-section {
      background-color: #90c1d0;
      padding: 10px;
    }
    .errors {
      margin: 0px;
      padding: 0px;
      .error {
        margin: 0px;
        padding: 0px;
        list-style: none;
        font-size: 0.9rem;
        color: red;
        margin-bottom: 5px;
      }
    }
    .submit {
      margin-top: 10px;
    }
}